#Cocos2d-js boilerplate
# Foresake all of Cocos2d's project tree from version control.
# We can just rebuild it, so it's tens of thousands of files of boilerplatr and  
# intermediate files with a few minor tweaks scattered among them.
Example
# Excluding this from git, because it's just generated for this project.
# If you're sharing with team mates, you probably don't want to exclude it.
publish
